@font-face {
  font-family: logo;
  src: url(./octarine/Octarine-Light.otf);
}

@font-face {
  font-family: logo;
  font-style: oblique;
  src: url(./octarine/Octarine-LightOblique.otf);
}

:where(*) {
  margin: 0;
}

:where(*, ::before, ::after) {
  box-sizing: border-box;
  flex: none;
  border: 0 solid currentColor;
}

:where(textarea, iframe) {
  display: block;
  width: 100%;
  resize: vertical;
}
