/* virtual:isaaccss:css:virtual:isaaccss.css */
.align-items\:center:not(#\ ) {
  align-items: center;
}
.b-c\:\#ccc:not(#\ ) {
  border-color: #ccc;
}
.b-w\:1px:not(#\ ) {
  border-width: 1px;
}
.box-shadow\:0_0_4px_\#bbb\,_0_2px_8px_\#bbb:not(#\ ) {
  box-shadow: 0 0 4px #bbb, 0 2px 8px #bbb;
}
.c\:gray:not(#\ ) {
  color: gray;
}
.cursor\:pointer:not(#\ ) {
  cursor: pointer;
}
.d\:flex:not(#\ ) {
  display: flex;
}
.d\:inline-flex:not(#\ ) {
  display: inline-flex;
}
.flex-direction\:column:not(#\ ) {
  flex-direction: column;
}
._textarea\/font-family\:\'Source_Code_Pro\'\,monospace:not(#\ ) textarea {
  font-family: "Source Code Pro", monospace;
}
.font-family\:logo:not(#\ ) {
  font-family: logo;
}
._textarea\/font-size\:0\.9375rem:not(#\ ) textarea {
  font-size: 0.9375rem;
}
.font-size\:1rem:not(#\ ) {
  font-size: 1rem;
}
.font-size\:2\.5rem:not(#\ ) {
  font-size: 2.5rem;
}
.font-style\:oblique:not(#\ ) {
  font-style: oblique;
}
.font-weight\:bold:not(#\ ) {
  font-weight: bold;
}
.gap\:1rem:not(#\ ) {
  gap: 1rem;
}
.letter-spacing\:0\.375em:not(#\ ) {
  letter-spacing: 0.375em;
}
.p-b\:1em:not(#\ ) {
  padding-bottom: 1em;
}
.p\:0\.5rem:not(#\ ) {
  padding: 0.5rem;
}
.p\:1rem:not(#\ ) {
  padding: 1rem;
}
.user-select\:none:not(#\ ) {
  user-select: none;
}

/* src/font.css */
@font-face {
  font-family: logo;
  src: url(./Octarine-Light.otf);
}
@font-face {
  font-family: logo;
  font-style: oblique;
  src: url(./Octarine-LightOblique.otf);
}

/* src/reset.css */
:where(*) {
  margin: 0;
}
:where(*, ::before, ::after) {
  box-sizing: border-box;
  flex: none;
  border: 0 solid currentColor;
}
:where(textarea, iframe) {
  display: block;
  width: 100%;
  resize: vertical;
}
