/* virtual:isaaccss:css:virtual:isaaccss.css */
.\#f:not(#\ ) {
  align-items: center;
}
.\#r:not(#\ ) {
  border-color: #ccc;
}
.\#q:not(#\ ) {
  border-width: 1px;
}
.\#m:not(#\ ) {
  box-shadow: 0 0 4px #bbb, 0 2px 8px #bbb;
}
.\#j:not(#\ ) {
  color: gray;
}
.\#n:not(#\ ) {
  cursor: pointer;
}
.\#s:not(#\ ) {
  display: flex;
}
.\#d:not(#\ ) {
  display: inline-flex;
}
.\#e:not(#\ ) {
  flex-direction: column;
}
.\#u:not(#\ ) textarea {
  font-family: "Source Code Pro", monospace;
}
.\#c:not(#\ ) {
  font-family: logo;
}
.\#v:not(#\ ) textarea {
  font-size: 0.9375rem;
}
.\#i:not(#\ ) {
  font-size: 1rem;
}
.\#g:not(#\ ) {
  font-size: 2.5rem;
}
.\#h:not(#\ ) {
  font-style: oblique;
}
.\#p:not(#\ ) {
  font-weight: bold;
}
.\#t:not(#\ ) {
  gap: 1rem;
}
.\#k:not(#\ ) {
  letter-spacing: 0.375em;
}
.\#b:not(#\ ) {
  padding-bottom: 1em;
}
.\#l:not(#\ ) {
  padding: 0.5rem;
}
.\#a:not(#\ ) {
  padding: 1rem;
}
.\#o:not(#\ ) {
  user-select: none;
}

/* src/font.css */
@font-face {
  font-family: logo;
  src: url(./Octarine-Light.otf);
}
@font-face {
  font-family: logo;
  font-style: oblique;
  src: url(./Octarine-LightOblique.otf);
}

/* src/reset.css */
:where(*) {
  margin: 0;
}
:where(*, ::before, ::after) {
  box-sizing: border-box;
  flex: none;
  border: 0 solid currentColor;
}
:where(textarea, iframe) {
  display: block;
  width: 100%;
  resize: vertical;
}
